* {
  font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

#custom-power,
#workspaces,
#toggles,
#window,
#system,
#connectivity {
  background-color: @base;
  border-radius: 15px;
  margin: 0.5rem 0.75rem 0 0.75rem;
}

/* Horizontal Spacing */
#toggles *,
#window *,
#system *,
#connectivity * {
  margin: 0 1rem;
}

#waybar {
  background: transparent;
  color: @text;
}

#custom-power {
  color: @sky;
  font-size: 18px;
  min-width: 2em;
}

#workspaces button {
  color: @text;
  border: none;
}

#workspaces button.active {
  color: @mauve;
}

#workspaces button:hover {
  background-color: @surface0;
  border-radius: 15px;
  text-shadow: none;
  transition: none;
  background-image: none;
}

#custom-nightshift.active {
  color: @peach;
  text-shadow:
    0 0 2px alpha(@peach, 1.0),
    0 0 4px alpha(@peach, 0.9);
}

#idle_inhibitor.activated {
  color: @red;
  text-shadow:
    0 0 2px alpha(@red, 1.0),
    0 0 4px alpha(@red, 0.9);
}

#custom-cpu {
  color: @maroon;
}

#custom-gpu {
  color: @yellow;
}

#memory {
  color: @green;
}

#custom-brightness {
  color: @teal;
}

#pulseaudio {
  color: @blue;
}

#clock {
  color: @lavender;
}
